
.footer{
    margin-top: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
    height: auto;
    background-color: rgb(15, 22, 22);
}
.f-head{
    color:rgb(164, 97, 20);
    margin-left: 9%;
    font-size: 4vh;
}
.copy-rights{
    color: white;
    position: absolute;
    font-size: 2vh;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
.footer-container{
    width: 100%;
    height: 90%;
    display: flex;
    padding-bottom: 20px;
}
.f-lside{
    width: 50%;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
  
    
}
.f-list{
    list-style: none;
    color: rgb(121, 121, 121);
    margin-left: 10%;
}
.l-item{
    padding-top: 4px;
    font-size: 20px;
}
.f-rside{
    width: 50%;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.c-item{
    height: 3%;
    width: 3%;
}
@media (max-width: 600px){
    .footer-container{
        display: block;
    }
    .f-lside{
        box-shadow: none;
        width: 100%;
    }
    .f-rside{
        width: 100%;
    }
    .c-item{
        height: 7%;
        width: 10%;
    }
}