* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    /* background-color: rgb(197, 218, 202); */
    z-index: 1;
    background-color: #fff;
    margin-bottom: 50px;
    padding-bottom: 10px;
    
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    
    padding: 0;
    margin-left: 6%;
    margin-right: 6%;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 0;

}

.link {
    transition: 0.5s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(70, 68, 68);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

.link:hover {
    background-color: rgb(96, 206, 125);
    transition: 0.5s;
    border-radius: 5px;
    color: rgb(253, 246, 246);
    transition: 0.3s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(166, 63, 63);
}
#nav-devider{
    border: 0.5px solid rgb(245, 238, 238);
}

.sos-logo{
    height: 15px;
    width: 15px;
    justify-content: end;
    margin-left: 20px;
    margin-top: 10px;
}
#box{
    padding: 7px 5px ;
    border-radius: 15px;
    border: #fff;
    box-shadow: 1px 1px 0px 0px rgb(181, 179, 179);
    padding-left: 20px;
    color: rgb(117, 116, 116);
    outline: none;
}
#sub-btn{
    padding: 7px 12px;
    border-radius: 17px;
    background-color: black;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}

.search-box{
    position: absolute;
    right: 40px;
    top: 20px;
    display: flex;
}
.sos-logo-area{
    position: absolute;
    right: 290px;
    top: 20px;
    display: flex;
}
.logo-area{
    display: flex;
}
.rside{
    width: 60%;
    position: absolute;
    right: 0;
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        gap: 0;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: rgb(197, 218, 202);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-top: 100px;
    }

    .nav-item {
        margin: 16px 0;
        z-index: -1;
    }

    .nav-menu.active {
        left: 0;
    }

    #logo {
        width: 80%;
        height: auto;
    }
    .navbar{
        display: flex;
    }
    
    .logo-area{
        width: 80%;
    }
    
    #nav-devider{
        display: none;
    }
    .rside{
        display: none;
    }
}

#logo {
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 50px;
    height: auto;
}

.dropdown-container {
    display: inline;
    position: relative;
    min-width: 100px;
}

.dropdown-content a {
    display: block;
    min-width: 150px;
}

.dropdown-content {
    position: absolute;
    top: 30;
    left: 0;
    display: none;
}

.dropdown-container:hover .dropdown-content {
    display: block;
    border: 1px solid rgb(155, 200, 238);
    border-radius: 5px;
    background-color: rgb(197, 218, 202);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    color: #465a77;
    font-size: 30px;
    padding: 10px;
    padding-left: 0;
}
@media (min-width:768px){
    #logo{
        width: 45%;
    }
}